# IDE project directories
.vscode/
.idea/
# Go lang dependencies, Use 'dep ensure --vendor-only' to fetch the package dependencies
*.code-workspace

# Build artifacts
bin/
__debug_bin
debug
*.log

# Ignore key files in root
/private_key.pem
/public_key*

# Ignore zip files in root
./apic_traceability_agent.zip
./apic_discovery_agent.zip

# ignores if running sonarscanner locally
.scannerwork

# Test artifacts
gocoverage.out
goreport.json
twistcli
goreport.json
results.json
analysis.json
*cover.out
coverage.html
cache_save_file.json
pkg/config/path

openapitools.json
main-resources.json
sub-resources.json
vendor