#############################################################
# Section for external includes
############################################################
include:
  - project: "apigov/beano_cicd"
    ref: $BEANO_CICD_GREEN
    # this one MUST be after the security jobs in order for overrides to work correctly!
    file:
      - "/gitlabci/repos/agent-sdk.yml"
