###
image: docker:dind

variables:
  PACKAGE_NAME: apic-agents-sdk
  GIT_REPO_PATH: src/github.com/Axway # overridden from variables.yml
  GIT_REPO_NAME: agent-sdk

  # for agent trigger jobs
  AWS_DISCOVERY_PROJECT_ID: 7397
  V7_DISCOVERY_PROJECT_ID: 7540
  AZURE_DISCOVERY_PROJECT_ID: 8585

  # Fortify
  FORTIFY_PROJECT: "10566"
  FORTIFY_BUILD_ID: "apic_agents_sdk"
  FORTIFY_INCLUDE: "**/*.go"
  FORTIFY_EXCLUDE: "**/*_test.go"

  # Whitesource
  WS_PROJECT_ID: "APIC_Agents_SDK"

  # just to be sure we don't do vendoring
  GOFLAGS: "-mod=mod"

  # turn on error checks
  RUN_ERROR_CHECKS: "true"

############################################################
# Section for external includes
############################################################
include:
  - project: "apigov/beano_cicd"
    ref: $BEANO_CICD_LATEST
    # the order of these include files is important
    file:
      - "/gitlabci/variables.yml"
      - "/gitlabci/restrictions.yml"
      - "/gitlabci/jobs.yml"
  - project: "scurity/gitlabci"
    ref: $SCURITY_V2
    file:
      - "/.gitlab-ci-fortify.yml"
      - "/.gitlab-ci-whitesource.yml"
      - "/.gitlab-ci-csr.yml"
  - project: "apigov/beano_cicd"
    ref: $BEANO_CICD_LATEST
    # this one MUST be after the scurity jobs in order for overrides to work correctly!
    file:
      - "/gitlabci/csrjobs.yml"

stages:
  - test
  - sonar
  - security-scans
  - security-review
  - update-dep

############################################################
# Section for triggering agent updates
############################################################
.trigger-downstream-agent:
  stage: update-dep
  when: manual
  script:
    - apk update && apk add curl ca-certificates
    - echo "triggering downstream agent with SDK_SHA = ${CI_COMMIT_SHA}"
    - curl --request POST --form "token=${CI_JOB_TOKEN}" --form "variables[SDK_SHA]=${CI_COMMIT_SHA}" --form ref=master ${CURL_URL_FOR_TRIGGER}/${PROJECT_ID}/trigger/pipeline
  extends: .only-default-branch
  except:
    refs:
      - schedules

trigger-aws-apigw-discovery-agent:
  before_script:
    - export PROJECT_ID=${AWS_DISCOVERY_PROJECT_ID}
  extends: .trigger-downstream-agent

trigger-v7-discovery-agent:
  before_script:
    - export PROJECT_ID=${V7_DISCOVERY_PROJECT_ID}
  extends: .trigger-downstream-agent

trigger-azure-discovery-agent:
  before_script:
    - export PROJECT_ID=${AZURE_DISCOVERY_PROJECT_ID}
  extends: .trigger-downstream-agent

# overridden from csrjobs.yml because mirror repos like this one don't get merge events. So, we need to run them on branchs
whitesource:
  rules:
    - !reference [.mirror-branch-csr-rules, rules]

fortify:
  rules:
    - !reference [.mirror-branch-csr-rules, rules]

fetch-fortify:
  rules:
    - !reference [.mirror-branch-csr-rules, rules]

run-csr:
  rules:
    - !reference [.mirror-branch-csr-rules, rules]

# overridden from csrjobs.yml to not run these jobs ever
fetch-iriusrisk:
  extends: .only-never-rule

fetch-iriusrisk:on-schedule:
  extends: .only-never-rule

twistlock:
  extends: .only-never-rule

twistlock:on-schedule:
  extends: .only-never-rule
