# this for notifications for push requests
* @dfeldick @vchauhan @jcollins-axway @kfla-io @vivekschauhan

#.csr-profile.json requires SPOC approval for any modifications
# @dfeldick - Primary SPOC
# @vchauhan- Secondary SPOC
.csr-profile.json @dfeldick @vivekschauhan @mdenihan @rconan @jcollins-axway @sbolosan @kflan-io
