{
  "openapi" : "3.0.2",
  "info" : {
    "title" : "API Server specification.",
    "version" : "0.13.0",
    "contact" : {
      "name" : "Axway Support",
      "email" : "support@axway.com"
    },
    "license" : {
      "name" : "Copyright Axway 2020. All rights reserved."
    },
    "description" : "API Server specification for Amplify Central."
  },
  "security" : [ {
    "token" : [ ]
  } ],
  "servers" : [ {
    "url" : "https://apicentral.axway.com/apis"
  } ],
  "paths" : {
    "/management/v1alpha1/environments" : {
      "parameters" : [ {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves Environment for version v1alpha1 from group management",
        "operationId" : "list_management_v1alpha1_Environment",
        "tags" : [ "management" ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/offsetParam"
        }, {
          "$ref" : "#/components/parameters/countParam"
        }, {
          "$ref" : "#/components/parameters/pageNumberParam"
        }, {
          "$ref" : "#/components/parameters/pageSizeParam"
        }, {
          "$ref" : "#/components/parameters/sortParam"
        }, {
          "$ref" : "#/components/parameters/queryParam"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.Environment resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List all resources of type Environment for version v1alpha1 from group management",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/management.v1alpha1.Environment"
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "post" : {
        "summary" : "Create Environment for version v1alpha1 from group management",
        "operationId" : "create_management_v1alpha1_Environment",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.Environment resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.Environment"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Create a new Environment for version v1alpha1 from group management",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.Environment"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{name}" : {
      "parameters" : [ {
        "name" : "name",
        "description" : "The name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves Environment for version v1alpha1 from group management",
        "operationId" : "read_management_v1alpha1_Environment",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.Environment resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read Environment for version v1alpha1 from group management",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.Environment"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "delete" : {
        "summary" : "Remove Environment for version v1alpha1 from group management",
        "operationId" : "remove_management_v1alpha1_Environment",
        "tags" : [ "management" ],
        "responses" : {
          "202" : {
            "description" : "Accepted removing Environment for version v1alpha1 from group management. Dependent resources found, clean up will finish once all dependent resources have been removed"
          },
          "204" : {
            "description" : "Removed Environment for version v1alpha1 from group management"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update Environment for version v1alpha1 from group management",
        "operationId" : "update_management_v1alpha1_Environment",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.Environment resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.Environment"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Update Environment for version v1alpha1 from group management",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.Environment"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/apiservices" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves APIService for version v1alpha1 from group management in scope Environment",
        "operationId" : "list_management_v1alpha1_Environment_APIService",
        "tags" : [ "management" ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/offsetParam"
        }, {
          "$ref" : "#/components/parameters/countParam"
        }, {
          "$ref" : "#/components/parameters/pageNumberParam"
        }, {
          "$ref" : "#/components/parameters/pageSizeParam"
        }, {
          "$ref" : "#/components/parameters/sortParam"
        }, {
          "$ref" : "#/components/parameters/queryParam"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.APIService resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List all resources of type APIService for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/management.v1alpha1.APIService"
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "post" : {
        "summary" : "Create APIService for version v1alpha1 from group management in scope Environment",
        "operationId" : "create_management_v1alpha1_Environment_APIService",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.APIService resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.APIService"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Create a new APIService for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.APIService"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/apiservices/{name}" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "name" : "name",
        "description" : "The name of the APIService",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves APIService for version v1alpha1 from group management in scope Environment",
        "operationId" : "read_management_v1alpha1_Environment_APIService",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.APIService resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read APIService for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.APIService"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "delete" : {
        "summary" : "Remove APIService for version v1alpha1 from group management in scope Environment",
        "operationId" : "remove_management_v1alpha1_Environment_APIService",
        "tags" : [ "management" ],
        "responses" : {
          "202" : {
            "description" : "Accepted removing APIService for version v1alpha1 from group management in scope Environment. Dependent resources found, clean up will finish once all dependent resources have been removed"
          },
          "204" : {
            "description" : "Removed APIService for version v1alpha1 from group management in scope Environment"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update APIService for version v1alpha1 from group management in scope Environment",
        "operationId" : "update_management_v1alpha1_Environment_APIService",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.APIService resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.APIService"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Update APIService for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.APIService"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/apiservicerevisions" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves APIServiceRevision for version v1alpha1 from group management in scope Environment",
        "operationId" : "list_management_v1alpha1_Environment_APIServiceRevision",
        "tags" : [ "management" ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/offsetParam"
        }, {
          "$ref" : "#/components/parameters/countParam"
        }, {
          "$ref" : "#/components/parameters/pageNumberParam"
        }, {
          "$ref" : "#/components/parameters/pageSizeParam"
        }, {
          "$ref" : "#/components/parameters/sortParam"
        }, {
          "$ref" : "#/components/parameters/queryParam"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.APIServiceRevision resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List all resources of type APIServiceRevision for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/management.v1alpha1.APIServiceRevision"
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "post" : {
        "summary" : "Create APIServiceRevision for version v1alpha1 from group management in scope Environment",
        "operationId" : "create_management_v1alpha1_Environment_APIServiceRevision",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.APIServiceRevision resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.APIServiceRevision"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Create a new APIServiceRevision for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.APIServiceRevision"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/apiservicerevisions/{name}" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "name" : "name",
        "description" : "The name of the APIServiceRevision",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves APIServiceRevision for version v1alpha1 from group management in scope Environment",
        "operationId" : "read_management_v1alpha1_Environment_APIServiceRevision",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.APIServiceRevision resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read APIServiceRevision for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.APIServiceRevision"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "delete" : {
        "summary" : "Remove APIServiceRevision for version v1alpha1 from group management in scope Environment",
        "operationId" : "remove_management_v1alpha1_Environment_APIServiceRevision",
        "tags" : [ "management" ],
        "responses" : {
          "202" : {
            "description" : "Accepted removing APIServiceRevision for version v1alpha1 from group management in scope Environment. Dependent resources found, clean up will finish once all dependent resources have been removed"
          },
          "204" : {
            "description" : "Removed APIServiceRevision for version v1alpha1 from group management in scope Environment"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update APIServiceRevision for version v1alpha1 from group management in scope Environment",
        "operationId" : "update_management_v1alpha1_Environment_APIServiceRevision",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.APIServiceRevision resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.APIServiceRevision"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Update APIServiceRevision for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.APIServiceRevision"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/apiserviceinstances" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves APIServiceInstance for version v1alpha1 from group management in scope Environment",
        "operationId" : "list_management_v1alpha1_Environment_APIServiceInstance",
        "tags" : [ "management" ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/offsetParam"
        }, {
          "$ref" : "#/components/parameters/countParam"
        }, {
          "$ref" : "#/components/parameters/pageNumberParam"
        }, {
          "$ref" : "#/components/parameters/pageSizeParam"
        }, {
          "$ref" : "#/components/parameters/sortParam"
        }, {
          "$ref" : "#/components/parameters/queryParam"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.APIServiceInstance resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List all resources of type APIServiceInstance for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/management.v1alpha1.APIServiceInstance"
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "post" : {
        "summary" : "Create APIServiceInstance for version v1alpha1 from group management in scope Environment",
        "operationId" : "create_management_v1alpha1_Environment_APIServiceInstance",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.APIServiceInstance resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.APIServiceInstance"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Create a new APIServiceInstance for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.APIServiceInstance"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/apiserviceinstances/{name}" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "name" : "name",
        "description" : "The name of the APIServiceInstance",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves APIServiceInstance for version v1alpha1 from group management in scope Environment",
        "operationId" : "read_management_v1alpha1_Environment_APIServiceInstance",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.APIServiceInstance resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read APIServiceInstance for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.APIServiceInstance"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "delete" : {
        "summary" : "Remove APIServiceInstance for version v1alpha1 from group management in scope Environment",
        "operationId" : "remove_management_v1alpha1_Environment_APIServiceInstance",
        "tags" : [ "management" ],
        "responses" : {
          "202" : {
            "description" : "Accepted removing APIServiceInstance for version v1alpha1 from group management in scope Environment. Dependent resources found, clean up will finish once all dependent resources have been removed"
          },
          "204" : {
            "description" : "Removed APIServiceInstance for version v1alpha1 from group management in scope Environment"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update APIServiceInstance for version v1alpha1 from group management in scope Environment",
        "operationId" : "update_management_v1alpha1_Environment_APIServiceInstance",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.APIServiceInstance resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.APIServiceInstance"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Update APIServiceInstance for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.APIServiceInstance"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/secrets" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves Secret for version v1alpha1 from group management in scope Environment",
        "operationId" : "list_management_v1alpha1_Environment_Secret",
        "tags" : [ "management" ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/offsetParam"
        }, {
          "$ref" : "#/components/parameters/countParam"
        }, {
          "$ref" : "#/components/parameters/pageNumberParam"
        }, {
          "$ref" : "#/components/parameters/pageSizeParam"
        }, {
          "$ref" : "#/components/parameters/sortParam"
        }, {
          "$ref" : "#/components/parameters/queryParam"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.Secret resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List all resources of type Secret for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/management.v1alpha1.Secret"
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "post" : {
        "summary" : "Create Secret for version v1alpha1 from group management in scope Environment",
        "operationId" : "create_management_v1alpha1_Environment_Secret",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.Secret resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.Secret"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Create a new Secret for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.Secret"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/secrets/{name}" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "name" : "name",
        "description" : "The name of the Secret",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves Secret for version v1alpha1 from group management in scope Environment",
        "operationId" : "read_management_v1alpha1_Environment_Secret",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.Secret resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read Secret for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.Secret"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "delete" : {
        "summary" : "Remove Secret for version v1alpha1 from group management in scope Environment",
        "operationId" : "remove_management_v1alpha1_Environment_Secret",
        "tags" : [ "management" ],
        "responses" : {
          "202" : {
            "description" : "Accepted removing Secret for version v1alpha1 from group management in scope Environment. Dependent resources found, clean up will finish once all dependent resources have been removed"
          },
          "204" : {
            "description" : "Removed Secret for version v1alpha1 from group management in scope Environment"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update Secret for version v1alpha1 from group management in scope Environment",
        "operationId" : "update_management_v1alpha1_Environment_Secret",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.Secret resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.Secret"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Update Secret for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.Secret"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/webhooks" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves Webhook for version v1alpha1 from group management in scope Environment",
        "operationId" : "list_management_v1alpha1_Environment_Webhook",
        "tags" : [ "management" ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/offsetParam"
        }, {
          "$ref" : "#/components/parameters/countParam"
        }, {
          "$ref" : "#/components/parameters/pageNumberParam"
        }, {
          "$ref" : "#/components/parameters/pageSizeParam"
        }, {
          "$ref" : "#/components/parameters/sortParam"
        }, {
          "$ref" : "#/components/parameters/queryParam"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.Webhook resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List all resources of type Webhook for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/management.v1alpha1.Webhook"
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "post" : {
        "summary" : "Create Webhook for version v1alpha1 from group management in scope Environment",
        "operationId" : "create_management_v1alpha1_Environment_Webhook",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.Webhook resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.Webhook"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Create a new Webhook for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.Webhook"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/webhooks/{name}" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "name" : "name",
        "description" : "The name of the Webhook",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves Webhook for version v1alpha1 from group management in scope Environment",
        "operationId" : "read_management_v1alpha1_Environment_Webhook",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.Webhook resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read Webhook for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.Webhook"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "delete" : {
        "summary" : "Remove Webhook for version v1alpha1 from group management in scope Environment",
        "operationId" : "remove_management_v1alpha1_Environment_Webhook",
        "tags" : [ "management" ],
        "responses" : {
          "202" : {
            "description" : "Accepted removing Webhook for version v1alpha1 from group management in scope Environment. Dependent resources found, clean up will finish once all dependent resources have been removed"
          },
          "204" : {
            "description" : "Removed Webhook for version v1alpha1 from group management in scope Environment"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update Webhook for version v1alpha1 from group management in scope Environment",
        "operationId" : "update_management_v1alpha1_Environment_Webhook",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.Webhook resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.Webhook"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Update Webhook for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.Webhook"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/consumerinstances" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves ConsumerInstance for version v1alpha1 from group management in scope Environment",
        "operationId" : "list_management_v1alpha1_Environment_ConsumerInstance",
        "tags" : [ "management" ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/offsetParam"
        }, {
          "$ref" : "#/components/parameters/countParam"
        }, {
          "$ref" : "#/components/parameters/pageNumberParam"
        }, {
          "$ref" : "#/components/parameters/pageSizeParam"
        }, {
          "$ref" : "#/components/parameters/sortParam"
        }, {
          "$ref" : "#/components/parameters/queryParam"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.ConsumerInstance resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, status. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List all resources of type ConsumerInstance for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/management.v1alpha1.ConsumerInstance"
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "post" : {
        "summary" : "Create ConsumerInstance for version v1alpha1 from group management in scope Environment",
        "operationId" : "create_management_v1alpha1_Environment_ConsumerInstance",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.ConsumerInstance resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, status. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.ConsumerInstance"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Create a new ConsumerInstance for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.ConsumerInstance"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/consumerinstances/{name}" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "name" : "name",
        "description" : "The name of the ConsumerInstance",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves ConsumerInstance for version v1alpha1 from group management in scope Environment",
        "operationId" : "read_management_v1alpha1_Environment_ConsumerInstance",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.ConsumerInstance resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, status. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read ConsumerInstance for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.ConsumerInstance"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "delete" : {
        "summary" : "Remove ConsumerInstance for version v1alpha1 from group management in scope Environment",
        "operationId" : "remove_management_v1alpha1_Environment_ConsumerInstance",
        "tags" : [ "management" ],
        "responses" : {
          "202" : {
            "description" : "Accepted removing ConsumerInstance for version v1alpha1 from group management in scope Environment. Dependent resources found, clean up will finish once all dependent resources have been removed"
          },
          "204" : {
            "description" : "Removed ConsumerInstance for version v1alpha1 from group management in scope Environment"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update ConsumerInstance for version v1alpha1 from group management in scope Environment",
        "operationId" : "update_management_v1alpha1_Environment_ConsumerInstance",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.ConsumerInstance resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec, status. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.ConsumerInstance"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Update ConsumerInstance for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.ConsumerInstance"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/consumerinstances/{name}/status" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "name" : "name",
        "description" : "The name of the ConsumerInstance",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves status resource data of ConsumerInstance for version v1alpha1 from group management in scope Environment",
        "operationId" : "read_management_v1alpha1_Environment_ConsumerInstance_status",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.ConsumerInstance resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read status resource data of ConsumerInstance for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.ConsumerInstance"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update status resource data of ConsumerInstance for version v1alpha1 from group management in scope Environment",
        "operationId" : "update_management_v1alpha1_Environment_ConsumerInstance_status",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.ConsumerInstance resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.ConsumerInstance"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Updated status resource data of ConsumerInstance for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.ConsumerInstance"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/consumersubscriptiondefs" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves ConsumerSubscriptionDefinition for version v1alpha1 from group management in scope Environment",
        "operationId" : "list_management_v1alpha1_Environment_ConsumerSubscriptionDefinition",
        "tags" : [ "management" ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/offsetParam"
        }, {
          "$ref" : "#/components/parameters/countParam"
        }, {
          "$ref" : "#/components/parameters/pageNumberParam"
        }, {
          "$ref" : "#/components/parameters/pageSizeParam"
        }, {
          "$ref" : "#/components/parameters/sortParam"
        }, {
          "$ref" : "#/components/parameters/queryParam"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.ConsumerSubscriptionDefinition resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List all resources of type ConsumerSubscriptionDefinition for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/management.v1alpha1.ConsumerSubscriptionDefinition"
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "post" : {
        "summary" : "Create ConsumerSubscriptionDefinition for version v1alpha1 from group management in scope Environment",
        "operationId" : "create_management_v1alpha1_Environment_ConsumerSubscriptionDefinition",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.ConsumerSubscriptionDefinition resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.ConsumerSubscriptionDefinition"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Create a new ConsumerSubscriptionDefinition for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.ConsumerSubscriptionDefinition"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/management/v1alpha1/environments/{environmentName}/consumersubscriptiondefs/{name}" : {
      "parameters" : [ {
        "name" : "environmentName",
        "description" : "Name of the Environment",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "name" : "name",
        "description" : "The name of the ConsumerSubscriptionDefinition",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves ConsumerSubscriptionDefinition for version v1alpha1 from group management in scope Environment",
        "operationId" : "read_management_v1alpha1_Environment_ConsumerSubscriptionDefinition",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.ConsumerSubscriptionDefinition resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read ConsumerSubscriptionDefinition for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.ConsumerSubscriptionDefinition"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "delete" : {
        "summary" : "Remove ConsumerSubscriptionDefinition for version v1alpha1 from group management in scope Environment",
        "operationId" : "remove_management_v1alpha1_Environment_ConsumerSubscriptionDefinition",
        "tags" : [ "management" ],
        "responses" : {
          "202" : {
            "description" : "Accepted removing ConsumerSubscriptionDefinition for version v1alpha1 from group management in scope Environment. Dependent resources found, clean up will finish once all dependent resources have been removed"
          },
          "204" : {
            "description" : "Removed ConsumerSubscriptionDefinition for version v1alpha1 from group management in scope Environment"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update ConsumerSubscriptionDefinition for version v1alpha1 from group management in scope Environment",
        "operationId" : "update_management_v1alpha1_Environment_ConsumerSubscriptionDefinition",
        "tags" : [ "management" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the management.v1alpha1.ConsumerSubscriptionDefinition resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/management.v1alpha1.ConsumerSubscriptionDefinition"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Update ConsumerSubscriptionDefinition for version v1alpha1 from group management in scope Environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/management.v1alpha1.ConsumerSubscriptionDefinition"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/definitions/v1alpha1/groups" : {
      "parameters" : [ {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves ResourceGroup for version v1alpha1 from group definitions",
        "operationId" : "list_definitions_v1alpha1_ResourceGroup",
        "tags" : [ "definitions" ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/offsetParam"
        }, {
          "$ref" : "#/components/parameters/countParam"
        }, {
          "$ref" : "#/components/parameters/pageNumberParam"
        }, {
          "$ref" : "#/components/parameters/pageSizeParam"
        }, {
          "$ref" : "#/components/parameters/sortParam"
        }, {
          "$ref" : "#/components/parameters/queryParam"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the definitions.v1alpha1.ResourceGroup resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List all resources of type ResourceGroup for version v1alpha1 from group definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/definitions.v1alpha1.ResourceGroup"
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "post" : {
        "summary" : "Create ResourceGroup for version v1alpha1 from group definitions",
        "operationId" : "create_definitions_v1alpha1_ResourceGroup",
        "tags" : [ "definitions" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the definitions.v1alpha1.ResourceGroup resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/definitions.v1alpha1.ResourceGroup"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Create a new ResourceGroup for version v1alpha1 from group definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/definitions.v1alpha1.ResourceGroup"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/definitions/v1alpha1/groups/{name}" : {
      "parameters" : [ {
        "name" : "name",
        "description" : "The name of the ResourceGroup",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves ResourceGroup for version v1alpha1 from group definitions",
        "operationId" : "read_definitions_v1alpha1_ResourceGroup",
        "tags" : [ "definitions" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the definitions.v1alpha1.ResourceGroup resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read ResourceGroup for version v1alpha1 from group definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/definitions.v1alpha1.ResourceGroup"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "delete" : {
        "summary" : "Remove ResourceGroup for version v1alpha1 from group definitions",
        "operationId" : "remove_definitions_v1alpha1_ResourceGroup",
        "tags" : [ "definitions" ],
        "responses" : {
          "202" : {
            "description" : "Accepted removing ResourceGroup for version v1alpha1 from group definitions. Dependent resources found, clean up will finish once all dependent resources have been removed"
          },
          "204" : {
            "description" : "Removed ResourceGroup for version v1alpha1 from group definitions"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update ResourceGroup for version v1alpha1 from group definitions",
        "operationId" : "update_definitions_v1alpha1_ResourceGroup",
        "tags" : [ "definitions" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the definitions.v1alpha1.ResourceGroup resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/definitions.v1alpha1.ResourceGroup"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Update ResourceGroup for version v1alpha1 from group definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/definitions.v1alpha1.ResourceGroup"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/definitions/v1alpha1/groups/{groupName}/resources" : {
      "parameters" : [ {
        "name" : "groupName",
        "description" : "Name of the ResourceGroup",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves ResourceDefinition for version v1alpha1 from group definitions in scope ResourceGroup",
        "operationId" : "list_definitions_v1alpha1_ResourceGroup_ResourceDefinition",
        "tags" : [ "definitions" ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/offsetParam"
        }, {
          "$ref" : "#/components/parameters/countParam"
        }, {
          "$ref" : "#/components/parameters/pageNumberParam"
        }, {
          "$ref" : "#/components/parameters/pageSizeParam"
        }, {
          "$ref" : "#/components/parameters/sortParam"
        }, {
          "$ref" : "#/components/parameters/queryParam"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the definitions.v1alpha1.ResourceDefinition resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List all resources of type ResourceDefinition for version v1alpha1 from group definitions in scope ResourceGroup",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/definitions.v1alpha1.ResourceDefinition"
                  }
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "post" : {
        "summary" : "Create ResourceDefinition for version v1alpha1 from group definitions in scope ResourceGroup",
        "operationId" : "create_definitions_v1alpha1_ResourceGroup_ResourceDefinition",
        "tags" : [ "definitions" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the definitions.v1alpha1.ResourceDefinition resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/definitions.v1alpha1.ResourceDefinition"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Create a new ResourceDefinition for version v1alpha1 from group definitions in scope ResourceGroup",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/definitions.v1alpha1.ResourceDefinition"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/definitions/v1alpha1/groups/{groupName}/resources/{name}" : {
      "parameters" : [ {
        "name" : "groupName",
        "description" : "Name of the ResourceGroup",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "name" : "name",
        "description" : "The name of the ResourceDefinition",
        "in" : "path",
        "schema" : {
          "type" : "string"
        },
        "required" : true
      }, {
        "$ref" : "#/components/parameters/TenantHeader"
      } ],
      "get" : {
        "summary" : "Retrieves ResourceDefinition for version v1alpha1 from group definitions in scope ResourceGroup",
        "operationId" : "read_definitions_v1alpha1_ResourceGroup_ResourceDefinition",
        "tags" : [ "definitions" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the definitions.v1alpha1.ResourceDefinition resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Read ResourceDefinition for version v1alpha1 from group definitions in scope ResourceGroup",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/definitions.v1alpha1.ResourceDefinition"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "delete" : {
        "summary" : "Remove ResourceDefinition for version v1alpha1 from group definitions in scope ResourceGroup",
        "operationId" : "remove_definitions_v1alpha1_ResourceGroup_ResourceDefinition",
        "tags" : [ "definitions" ],
        "responses" : {
          "202" : {
            "description" : "Accepted removing ResourceDefinition for version v1alpha1 from group definitions in scope ResourceGroup. Dependent resources found, clean up will finish once all dependent resources have been removed"
          },
          "204" : {
            "description" : "Removed ResourceDefinition for version v1alpha1 from group definitions in scope ResourceGroup"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/Unauthorized"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalServerError"
          }
        }
      },
      "put" : {
        "summary" : "Update ResourceDefinition for version v1alpha1 from group definitions in scope ResourceGroup",
        "operationId" : "update_definitions_v1alpha1_ResourceGroup_ResourceDefinition",
        "tags" : [ "definitions" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Query string for restricting the response fields from the definitions.v1alpha1.ResourceDefinition resource. Multiple values can be specified separated by comma. Supported values: group, apiVersion, kind, name, title, metadata, attributes, tags, spec. Unknown values will be ignored.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/definitions.v1alpha1.ResourceDefinition"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Update ResourceDefinition for version v1alpha1 from group definitions in scope ResourceGroup",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/definitions.v1alpha1.ResourceDefinition"
                }
              }
            }
          },
          "400" : {
[...]
