package management

// GENERATE: All of the code below was replaced after code generation

// CredentialRequestDefinitionSpecCapabilities struct for CredentialRequestDefinitionSpecCapabilities
type CredentialRequestDefinitionSpecCapabilities struct {
	MaxApplicationCredentials int `json:"maxApplicationCredentials"`
}
