package definitions

// GENERATE: All of the code below was replaced after code generation

package management

// CredentialRequestDefinitionSpecProvisionPoliciesExpiry Expiry properties for Credentials linked to this definition. (management.v1alpha1.CredentialRequestDefinition)
type CredentialRequestDefinitionSpecProvisionPoliciesExpiry struct {
	// The number of days after the Credentials are considered to be expired.
	Period int32 `json:"period"`
	// The actions taken when the Credentials expire.
	Actions []CredentialPoliciesExpiryActions `json:"actions,omitempty"`
}
