package management

// CredentialRequestDefinitionSpecCapabilities struct for CredentialRequestDefinitionSpecCapabilities
type CredentialRequestDefinitionSpecCapabilities struct {
	MaxApplicationCredentials int `json:"maxApplicationCredentials"`
}
